.logement_infos {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 2% 0 2%;
}

.logement_info_title {
     color: #FF6060;
}
.logement_info_title h1 {
     font-size: 36px;
     margin-bottom: 5px;
}
.logement_info_title p {
     font-size: 20px;
     margin: 0;
}





.logement_description {
     display: flex;
}

.logement_description::nth-child(1) {
     width: 40% !important;
}



/* responsiv mobile */
@media screen and (max-width: 480px) {
     .logement_description {
          flex-direction: column;
          margin-right: 4%;
          margin-top: 5%;
     }
     .logement_infos {
          flex-direction: column;
     }
     .logement_info_title_and_tags{
          width: 100%;
     }
     .logement_info_title h1 {
          font-size: 24px;
     }
     .logement_info_title p {
          font-size: 18px;
     }
     .logement_tags{
          flex-wrap: wrap;
     }
     .logement_tags p {
          font-size: 16px;
          white-space: nowrap;
     }
     .logement_profil_and_rates {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          width: 100%;
     }
     .logement_rates {
          align-items: flex-start;
     }
     .logement_profil img {
          width: 80px;
     }
     .logement_profil p {
          font-size: 20px;
          text-align: right;
     }
     .StarYellow {
          font-size: 20px;
     }
     .StarEmpty {
          font-size: 20px;
     }
}