.HomePage {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 3%;
     border-radius: 25px;
     background-color: #F7F7F7;
     margin: 2% 2% 0 2%;
}

/* respondiv mobile */
@media screen and (max-width: 480px) {
     .HomePage {
          flex-direction: column;
          background-color: none;
     }
}