.Navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 2% 2% 0 2%;
}

.Logo {
     width: 211px;
}

.NavbarItems {
     position: relative;
}

.NavbarItems a{
     color: #FF6060;
     font-size: 24px;
     padding-left: 10px;
     padding-right: 10px;
}


/* respondiv tablette */
@media screen and (max-width: 768px) {
     .Navbar {
          margin: 0;
     }
     .NavbarItems a {
          font-size: 18px;
     }
}

/* responsive mobile */
@media screen and (max-width: 480px) {
     .NavbarItems a {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          padding-left: 5px;
          padding-right: 5px;	
     }
}

