.Banner {
	background-size: cover;
	background-position:  15% 65%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 2% 2% 0 2%;
	border-radius: 30px;
	height: 300px;
	color: #fff;
	position: relative;

}
.banner_infos {
	background: #000000;
	mix-blend-mode: darken;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
.Banner h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	margin: 0;
	color: #fff;
}

/* respondiv tablette */
@media screen and (max-width: 868px) {
	.Banner {
		margin-top: 0;
		height: 130px;
		border-radius: 15px;
		background-attachment: initial;
	}
	.Banner h1 {
		font-size: 36px;
	}
	.banner_infos {
		border-radius: 15px;
	}
}

/* responsive mobile */
@media screen and (max-width: 480px) {
	.Banner {
		margin-top: 0;
		height: 130px;
		border-radius: 15px;
		background-attachment: initial;
	}
	.Banner h1 {
		font-size: 28px;
		left: 4%;
		transform: translate(0, -50%);
	}
}
