.Banner {
     background-size: cover;
	background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
	background-image: url("https://images.unsplash.com/photo-1650476899465-98b1c5604a23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80");
	margin: 2% 2% 0 2%;
	border-radius: 30px;
	height: 300px;
	color: #fff;
	position: relative;
}
.Banner h1 {
	position: absolute;
	top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
	font-size: 48px;
     margin: 0;
}

/* respondiv tablette */
@media screen and (max-width: 868px) {
	.Banner {
		margin-top: 0;
		height: 130px;
		border-radius: 15px;
	}
	.Banner h1 {
		font-size: 36px;
	}
}

/* responsive mobile */
@media screen and (max-width: 480px) {
	.Banner {
		margin-top: 0;
		height: 130px;
		border-radius: 15px;
	}
	.Banner h1 {
		font-size: 28px;
          left: 4%;
          transform: translate(0, -50%);

	}
}
